# Docker container name
LD_CONTAINER_NAME=linkding
# Port on the host system that the application should be published on
LD_HOST_PORT=9090
# Directory on the host system that should be mounted as data dir into the Docker container
LD_HOST_DATA_DIR=./data

# Database settings
# These are currently only required for configuring PostreSQL.
# By default, linkding uses SQLite for which you don't need to configure anything.

# Database engine, can be sqlite (default) or postgres
LD_DB_ENGINE=postgres
# Database name (default: linkding)
LD_DB_DATABASE=linkding
# Username to connect to the database server  (default: linkding)
LD_DB_USER=your_db_username
# Password to connect to the database server
LD_DB_PASSWORD=your_secure_password
# The hostname where the database is hosted (default: localhost)
LD_DB_HOST=your_postgres_host
# Port use to connect to the database server
# Should use the default port if not set
LD_DB_PORT=5432
# Any additional options to pass to the database (default: {})
LD_DB_OPTIONS=